# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# certificates
*.key
*.crt
*.pem
*.pfx

# local cert directories
certs/
ssl/

# misc
.DS_Store
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npmrc

# Exports
deploy.zip
known-good-deploy-03-23.zip
eb-config-template-working-2026-03-23-smaller.json

# Coding
.claude
.vscode


# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
!**/*.tfvars.example
